* {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

nav img {
  height: 100px;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

main img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

main h1 {
  font-size: 75px;
  color: #006d77;
}

button {
  font-size: 20px;
  color: #ffffff;
  background-color: #e07a5f;
  border: 1px solid #e07a5f;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

button:hover {
  background-color: #006d77;
  border: 1px solid #006d77;
  transition: 1s ease-in-out;
}

a {
  color: #000000;
}

footer {
  text-align: center;
}

.about-me,
.my-work,
.contact-me {
  color: #006d77;
  font-weight: 500;
}
