* {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

main h1 {
  font-size: 75px;
  color: #006d77;
}

button {
  font-size: 20px;
  color: #ffffff;
  background-color: #e07a5f;
  border: 1px solid #e07a5f;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

button:hover {
  background-color: #006d77;
  border: 1px solid #006d77;
  transition: 1s ease-in-out;
}

a {
  color: #000000;
}

footer {
  text-align: center;
}
.about-me,
.my-work,
.contact-me {
  color: #006d77;
}
